<div class="main-container">
<div class="resume-container">
   <div class="aasif-resume-conainer mt-78">
      <div class="resume-left-side">
         <div class="toCenter">
            <div class="profile"></div>
         </div>
         <div class="contact-box">
            <div class="title">
               <h2 class="animate__animated animate__backInUp">Contact</h2>
            </div>
            <div class="call">
             <i class="fa fa-phone-square" aria-hidden="true"></i>
               <div class="text"><a href="tel:+ 9597802300">(+91) 9597802300</a></div>
            </div>
            <div class="home">
               <i class="fa fa-address-card" aria-hidden="true"></i>
               <div class="text">No. 47/23, M.R Street, <br> Pernambut, Vellore District - 635810</div>
            </div>
            <div class="email">
               <i class="fa fa-envelope" aria-hidden="true"></i>
               <div class="text"><a href="mailto: aasifammar@gmail.com"> aasifammar@gmail.com</a></div>
            </div>
         </div>
         <div class="personal-box">
            <div class="title">
               <h2 class="animate__animated animate__backInUp">Skills</h2>
            </div>
            <div class="mySkills">
               <p>HTML</p>
               <p>CSS</p>
               <p>Bootstrap</p>
               <p>JavaScript</p>
               <p>jQuery</p>
               <p>Angular</p>
               <p>JSON</p>
               <p>GIT</p>
               <p>JIRA</p>
               <p>Agile Scrum</p>
               <p>PhototShop</p>
               <p>Figma</p>
               <p>WordPress</p>
               <p>OpenCart</p>
            </div>
         </div>
      </div>
      <div class="resume-right-side">
         <div class="headTitle">
            <h1>Mohammed Aasif A</h1>
         </div>
         <div class="subTitle">
            <h1>
            Front End Developer
            </h1>
         </div>
         <div class="group-1">
            <div class="title">
               <div class="box animate__animated   animate__slideInDown">
                  <h2>Objective</h2>
               </div>
            </div>
            <div class="desc">Over <span>{{ yearsOfExperience }}</span>+ years of experience and Self-motivated IT Professional with good knowledge and proficiency in
               HTML, CSS, Bootstrap, JavaScript, jQuery and Angular. Extensive knowledge in developing applications in
               a single page (SPA) using Angular. Aspiring to combine broad background with strong technical skills to
               excel as a Front End Developer.
            </div>
         </div>
         <div class="group-2">
            <div class="title">
               <div class="box animate__animated   animate__slideInDown">
                  <h2>Education</h2>
               </div>
            </div>
            <div class="desc">
               <ul>
                  <li>
                     <div class="msg-1">2016-2018 | Master of Computer Applications</div>
                     <div class="msg-2">Anna University</div>
                  </li>
               </ul>
            </div>
         </div>
         <div class="group-3">
            <div class="title">
               <div class="box animate__animated   animate__slideInDown">
                  <h2>Work Experience</h2>
               </div>
            </div>
            <div class="desc work-experience">
               <ul>
                  <li>
                     <div class="msg-1">Angular Developer</div>
                     <div class="msg-2">06/09/2021 - Present</div>
                     <div class="msg-3">
                        <ul class="none-poiner">
                           <li>Responsible for developing the UI pages using angular 6+, HTML, CSS, TypeScript and Bootstrap. </li>
                           <li>Used various Angular custom directives and developed
                              reusable components and templates that can be re-used at
                              various places in the application.
                           </li>
                           <li>
                              Coordinate with Interface Design Architects for meeting
                              accessibility standards at code level Design and develop the
                              application using Agile Scrum methodology by breaking
                              down the project to several sprints.
                           </li>
                           <li>
                              Implemented HTTP requests using RxJS Observable library
                              to handle multiple values over time. Used AJAX, JSON to
                              send request to the server to check the functionality of the
                              websites and for storing and exchanging information
                              between browsers and servers. 
                           </li>
                           <li>
                              Worked with JIRA for managing project requirements and
                              tasks and worked on GIT as a version control.
                           </li>
                        </ul>
                     </div>
                  </li>
               </ul>
               <ul>
                  <li class="new">
                     <div class="msg-1">UI/UX Developer</div>
                     <div class="msg-2">04/09/2018 - 31/08/2021</div>
                     <div class="msg-3">
                        <ul class="none-poiner">
                           <li>Developed Front End Web pages with HTML5, CSS3, Bootstrap, Javascript and JQuery.</li>
                           <li>Resolved browers compability issues, solving all conflicts for
                              Firefox and edge users
                           </li>
                           <li>Created responsive sites and flows that can be viewed on
                              Mobile as well as Desktop.
                           </li>
                           <li>Collaborated with team on implementing new features and
                              UX in an Agile environment. Implemented plugins to extend
                              application functionality Mentored and Lead junior team
                              members. 
                           </li>
                           <li>Creating Email Templates using HTML table layout
                              conversion.
                           </li>
                        </ul>
                     </div>
                  </li>
               </ul>
               <ul>
                  <li class="awards">
                     <div class="msg-1">Achievements and Awards</div>
                     <div class="msg-3">
                        <ul class="none-poiner">
                           <li>Sport Award for the month (06/2022)</li>
                           <li>Outstanding Performance for the months
                              (09/2019 - 12/2021)
                           </li>
                           <li>Best Performance of the month (10/2019)</li>
                        </ul>
                     </div>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</div>
</div>
