<div class="main-container mt-78">
    <ul class="animate-bg">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </ul>
    <div class="home-container wf100">
        <div class="profile">
            <div class="animation-main">
                <div class="animation-container">
                    <div class="animation-profile rotate-aasif-profile">
                        <div class="img-myprofile">
                        </div>
                    </div> 
                </div> 
            </div>
        </div>
      
        <div class="info">
            <div class="name wf100">
                <h3 class="make-animation">Mohammed Aasif A</h3>
            </div>
            <div class="position wf100">
                <h5>Front End Developer</h5>
            </div>
            <div class="contact wf100">
                <a routerLink="/contact" class="button contactme">
                Contact Me
                <span><i class="fa fa-angle-double-right" aria-hidden="true"></i><i class="fa fa-angle-double-right" aria-hidden="true"></i><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
                </a>  
            </div>
        </div>
    </div>
    <div class="connect-me wf100">
        <div class="icon-group">
            <div class="icon-layer">
                <a href="https://www.linkedin.com/in/mohammed-aasif-2aa866167?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BsPPxOATYSva0XyXHJjbXQg%3D%3D"
                target="_blank" rel="noreferrer noopener" >
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
            </div>
            <div class="icon-layer disable-layer">
                <a href="" >
                    <i class="fa fa-facebook-official" aria-hidden="true"></i>
                </a>
            </div>
            <div class="icon-layer disable-layer">
                <a href="" >
                    <i class="fa fa-twitter-square" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</div> 